#cloud-config
network:
  version: 2
  ethernets:
    eth0:
    dhcp4: false
    dhcp6: false
    match:
      macaddress: {{ jellyfin.net.macaddr }}
    set-name: eth0
    addresses:
      - {{ jellyfin.net.ip }}
    nameservers:
      addresses:
        - {{ jellyfin.net.nameserver }}
      search:
        - {{ jellyfin.net.searchdomain }}
    routes:
      - to: "0.0.0.0/0"
        via: {{ jellyfin.net.gateway }}
